<% provide :title, t(".about_title") %>
<h1><%= t ".about_title" %></h1>
<p>
  <%= t ".about_description_html_1" %>
  <%= link_to "Ruby on Rails Tutorial", "https://www.railstutorial.org/" %>
  <%= t ".about_description_html_2" %>
  <%= link_to t(".learn_enough"), "https://www.learnenough.com/" %>      
  <%= t ".about_description_html_3" %>
  <%= link_to t(".book"), "https://www.railstutorial.org/book" %>      
  <%= t ".about_description_html_4" %>
  <%= link_to t(".screencast_series"), "https://screencasts.railstutorial.org/" %>     
  <%= t ".about_description_html_5" %>
  <%= link_to "Ruby on Rails", "https://rubyonrails.org/" %>
  <%= t ".about_description_html_6" %>
</p>
