<% provide :title, t(".help_title") %>
<h1> <%= t ".help_title" %> </h1>
<p>
  <%= t ".help_description_html_1" %>
  <%= link_to "Rails Tutorial Help page", "https://www.railstutorial.org/help" %>
  <%= t ".help_description_html_2" %>
  <em><%= link_to "Ruby on Rails Tutorial", "https://www.railstutorial.org/book" %></em>
</p>
